:root {
    /* * White Colors */
    --white: #ffffff;
    --black: #000000;

    /* * Dark Colors */
    --black_knight: #020a0f;
    --off_black: #303030;

    /* * Gray Colors */
    --dark_mineral: #505663;
    --sleet: #888c95;
    --coronation: #ececec;

    /* * Grid System */
    --columns: 12;
    --gutter: 32px;
}

::-webkit-scrollbar {
    display: none;
}

* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--white);
    color: var(--black_knight);
}